[submodule "backends/xnnpack/third-party/FP16"]
	path = third-party/FP16
	url = https://github.com/Maratyszcza/FP16.git
[submodule "backends/xnnpack/third-party/FXdiv"]
	path = third-party/FXdiv
	url = https://github.com/Maratyszcza/FXdiv.git
[submodule "backends/xnnpack/third-party/XNNPACK"]
	path = third-party/XNNPACK
	url = https://github.com/google/XNNPACK.git
[submodule "backends/xnnpack/third-party/cpuinfo"]
	path = third-party/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "backends/xnnpack/third-party/pthreadpool"]
	path = third-party/pthreadpool
	url = https://github.com/google/pthreadpool.git
